body {
    background: url("../fondo_index.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-color: blue;
    background-size: 80%;

}

#video_stream {
    display: table;
    margin: 0 auto;
    border: 1px solid black;
}