<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<script src="{{url_for('static', filename='js/settings.js')}}"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
	<script type="text/javascript" charset="utf-8">
		var new_audio;
    	var socket = io();

    	socket.on('connect', function() {
			socket.emit('alarm_change', {data: 'I\'m connected from settings!'});
			console.log('Enviado')
    	});
	</script>

	<title>hola!</title>
</head>
<body style="background-color:grey" onload="check_data()">
	<div style="padding-top: 50px"></div>

	<div class="container" style="background-color: rgba(240,248,255,0.5); vertical-align:center">
		<div>
			<div class="row">
				<div class="col-1"><button class='btn btn-default' onclick="location.href=&quot;{{ url_for('index') }}&quot;" type="button"><i class="fas fa-arrow-left" style="font-size:40px"></i></button></div>
				<div class="col-4"><h1>Configuraciones</h1></div>
				<div class="col-7"></div>
			</div>

			<div class="container top-buffer">

				<div class="row">
					<div class="col-2 top-buffer"></div>
					<div class="col-1 top-buffer"><i class="fas fa-volume-up volumen"></i></div>
					<div class="col-3 top-buffer text_principal">Volumen alarma:</div>
					<div class="col-3 top-buffer text_principal" id="volume">0</div>
					<div class="col-1 top-buffer"><button class="btn"  data-toggle="modal" data-target="#volume_modal"><i class="fas fa-edit"></i></button></div>
					<div class="col-2 top-buffer"></div>
				</div>

				<div class="row">
					<div class="col-2"></div>
					<div class="col-1"><i class="fas fa-volume-up volumen"></i></div>
					<div class="col-3 text_principal">Tono de alarma:</div>
					<div class="col-3 text_principal" id="tone">Thornton</div>
					<div class="col-1"><button class="btn"  data-toggle="modal" data-target="#tone_modal"><i class="fas fa-edit"></i></button></div>
					<div class="col-2"></div>
				</div>

				<div class="row">
					<div class="col-3"></div>
					<div class="col-2">
						<label class="switch">
							<input type="checkbox" id="check_alarm" onclick="change_state()">
							<span class="slider round"></span>
						</label>
					</div>
					<div class="col-4 text_principal">Activar/Desactivar alarma</div>
					<div class="col-3"></div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal volumen-->
	<div class="modal fade" id="volume_modal" tabindex="-1" role="dialog" aria-labelledby="volume_modal_label" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="volume_modal_label">Volumen: <span id="slider_value"></span></h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>

			</div>
			<div class="modal-body">
				<div class="slidecontainer"  id="modal_slider">
  					<input type="range" min="0" max="100"   class="slider_volume" id="volume_range">
				</div>
			</div>
			<div class="modal-footer">
				<button id="save_volume" type="button" class="btn btn-primary" data-dismiss="modal">Guardar cambios</button>
			</div>
			</div>
		</div>
	</div>

	<!-- Modal eleccion cancion -->
	<div class="modal fade" id="tone_modal" tabindex="-1" role="dialog" aria-labelledby="tone_modal_label" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="tone_modal_label">Tono</h4>

				<button type="button" class="close" data-dismiss="modal" id="close_song_modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>

			</div>
			<div class="modal-body" >
				<div >
					<label for="song_select">Alarmas disponibles</label>
					<select name="options" class="form-control" id="song_select">

					</select>
  				</div>

				<form id="upload-file" method="post" enctype="multipart/form-data">
					<fieldset>
						<label for="file">Seleccionar sonido</label>
						<input name="file" type="file" id="file">
					</fieldset>
				</form>
			</div>

			<div class="modal-footer">
				<button id="upload-file-btn" type="button" class="btn btn-primary" >Guardar cambios</button>
			</div>
			</div>
		</div>
	</div>


	<!-- Modal cargando -->
	<div class="modal fade" id="loading_modal" tabindex="-1" role="dialog" aria-labelledby="loading_modal_label" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" >Subiendo archivo</h4>
			</div>
			<div class="modal-body" >
				<div class="row">
					<div class="col-4"></div>
					<div class="col-4"><img src="{{ url_for('static', filename='loading.gif') }}" alt="Loading" title="Loading" /></div>
					<div class="col-4"></div>
				</div>

			</div>
		</div>
	</div>

</div>

</body>

<script>
	$('#volume_modal').on('shown.bs.modal', function () {
		//document.getElementById("volume_range").value = data['volume'];
		$('#volume_range').val(data['volumen_alarma'])
		$('#slider_value').html( data['volumen_alarma']);
	})

	$(document).on('input', '#volume_range', function() {
    	$('#slider_value').html( $(this).val() );
	});

	$('#save_volume').on('click', function() {
		data['volumen_alarma'] = $('#volume_range').val();
		$('#volume').html( data['volumen_alarma']);
		post_data();
	});


	$('#upload-file-btn').on("click",function() {
		if($("#file").val()==''){
			if($( "#song_select" ).val()!=data['tono_alarma']){
				let new_name = $( "#song_select" ).val().replace(/ /g,'_');
				data['tono_alarma'] = new_name;

				document.getElementById("tone").innerHTML = new_name;
				post_data();

			}
			document.getElementById("upload-file-btn").innerHTML = "Guardar cambios";
			$('#close_song_modal').trigger('click');
		}
		else{
			upload_file();
		}
	})

	$('#tone_modal').on('shown.bs.modal', function () {
		populate_tones();
	})

	 $(document).on('change','#file' , function(){
		 $( "#song_select" ).prop( "disabled", true );
		 new_audio = $("#file").val().replace(/C:\\fakepath\\/i, '').replace('.mp3','').replace(/ /g,'_');
		 document.getElementById("upload-file-btn").innerHTML = "Subir sonido";
	 });

</script>

</html>